Build
MANIFEST.SKIP.bak
META.json
META.yml
MYMETA.json
MYMETA.yml
Text-BibTeX-*.tar.gz
_build/
blib/
btparse/progs/biblex
btparse/progs/bibparse
btparse/progs/dumpnames
btparse/src/bt_config.h
btparse/src/libbtparse.dylib
config.log
crash.bib
xscode/BibTeX.c
xscode/BibTeX.o
xscode/btxs_support.o
btparse/tests/namebug
